body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #495773;
  font-size: 1rem;
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1.6rem;
  margin-bottom: 0;
  min-width: 90em;
}
.container {
  display: flex;
  max-width: 110rem;
  margin: 0 auto;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 1.4em;
  margin-right: 1.4em;
}

/* .toplogo .women .men .outlet .search .profile .cart {
    flex: 1;
  }
   */
.topicon img {
  flex: 1;
  max-width: 2.2rem;
  max-height: auto;
  margin-left: 1rem;
}
.topicon {
  display: flex;
  padding-left: 8em;
  max-width: 20vh;
  max-width: 35%;
  max-height: auto;
}
#shopping-cart-items {
  align-self: center;
  padding: 10px;
}
/* hr {
    display: flex;
    max-width: 110rem;
    border: none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 0px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px;
  } */
.cropped {
  max-width: 1760px;
  max-height: 677px;
  width: auto;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  object-position: 20% 50px;
}
.cropped img {
  margin: -10px 0px 0px -180px;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline;
}
nav li a {
  color: #495773;
  border: 3px solid #495773;
  text-decoration: none;
  display: block;
  padding: 10px;
  min-width: 180px;
  margin: 25px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.1rem;
}
nav a:hover {
  text-decoration: none;
  background-color: #ececec;
}
header img {
  height: 107px;
  width: auto;
}
.Layout {
  max-width: 90em;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
  align-content: center;
}
html {
  padding-top: 3rem;
}
#menu {
  display: none;
}
.Layoutnav i {
  display: none;
}
@media all and (max-width: 600px) {
  .Layoutnav i {
    display: contents;
  }
  nav {
    display: none;
  }

  #menu {
    display: none;
  }

  #menu:checked ~ nav {
    display: block;
  }
}

.images {
  display: inline-block;
  max-width: 100%;
}
.shop {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 2fr 1fr !important;
  grid-gap: 20px;
  overflow: hidden;
  grid-template-areas: "pic mainpic shop-text";
  max-width: 88em;
}

/* -----------------------------Carousel---------------------------------------------- */
.carousel-image {
  max-width: 120%;
  max-height: auto;
}
.carousel {
  position: relative;
  display: inline-block;
  margin-top: 5rem;
  padding-left: 1.4em;
  padding-right: 1.4em;
}
.carousel .carousel-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 70%;
  width: 50%;
}
.carousel-text ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.carousel-text li {
  display: inline;
}
.carousel-text a {
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 10px;
  display: block;
  min-width: 200px;
  font-size: 1.2rem;
  text-shadow: 2px 2px 8px #000;
  border-radius: 3px;
}
.border {
  padding: 7px;
  margin-left: 80px;
  margin-right: 80px;
  background: rgba(33, 33, 33, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 3px;
}
.carousel-text a:hover {
  background: rgba(255, 255, 255, 0.15);
}
.carousel .carousel-text-sale {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 40%;
  font-size: 135px;
  color: #ffa800;
  width: 50%;
  text-shadow: 2px 2px 8px #000;
}
.carousel .carousel-text-upto {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 62%;
  font-size: 40px;
  color: #fff;
  width: 50%;
  text-shadow: 2px 2px 8px #000;
}
/* -----------------------------Middle Grid------------------------------------------- */
.size-box i {
  display: contents;
}
.size-box nav {
  display: none;
}

#sizes {
  display: none;
}

#sizes:checked ~ nav {
  display: block;
}

.fivestar {
  color: #f3dc09;
  margin-left: 2em;
  margin-top: 0.4em;
  margin-bottom: 4em;
}

.add-to-basket {
  display: block;
  background-color: #495773;
  border: 3px solid #495773;
  width: 17em;
  height: 3.5em;
  border-radius: 5px;
  margin: 2em;
  box-shadow: 1px 2px 3px #707070;
}
.add-to-basket:hover {
  border-color: #66779b;
  cursor: pointer;
}
.select-size {
  display: block;
  background-color: #fff;
  border: 3px solid #495773;
  width: 17em;
  height: 3.5em;
  border-radius: 5px;
  margin: 2em;
  box-shadow: 1px 2px 3px #707070;
}

.size-box label {
  position: relative;
  top: 16px;
}
.add-to-basket p {
  margin: 1em 2em 1em 3em;
  font-size: 1.1em;
  color: #fff;
}
.select-size label {
  margin: 1em 2em 1em 3em;
  font-size: 1.1em;
  color: #495773;
}
.size-nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 2.5em;
  margin-left: -2.4em;
  position: absolute;
}
.smallpic {
  display: flex;
  flex-direction: row;
  margin-left: 3em;
}
.imagess {
  max-width: 4em;
  margin-left: 2em;
  margin-bottom: 1em;
}
.size-nav li {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1;
  justify-self: center;
  width: 16.5em;
  text-align: center;
}

.select-size:hover {
  cursor: pointer;
}

.s,
.l {
  background-color: rgb(131, 153, 226);
}
.m {
  background-color: rgb(200, 209, 241);
}
.small-text {
  font-size: 0.8em;
  margin-left: 3em;
}

.james {
  color: #495773;
  font-size: 2.5em;
  margin-bottom: 0em;
  display: inline-block;
  padding-right: 6em;
  margin-left: 0.6em;
}

.products {
  display: flex;
  max-width: 86.5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-right: -1em;
  margin-left: 1.8em;
  margin-top: 5em;
}
.pro {
  max-width: 24%;
  margin-left: 0.7em;
}
.jackets {
  max-width: 90%;
  margin-bottom: -1.5em;
  margin-top: 5em;
  border: 3px solid #fff;
}

.jackets:hover {
  box-shadow: 1px 2px 3px #707070;
}
.pro p {
  color: #495773;
  font-size: 1.4em;
  padding-left: 1.2em;
  margin-bottom: 0em;
}
.gold {
  color: #d69e36;
  font-size: 1.2em;
  padding-left: 2em;
}
.product-button {
  background-color: #fff;
  margin-left: 4em;
  margin-top: -1em;
  color: #495773;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 10px;
  display: inline-block;
  min-width: 3em;
  font-size: 1.2rem;
  box-shadow: 1px 1px 5px #707070;
  border-radius: 3px;
  font-variant-caps: all-petite-caps;
}
.product-button:hover {
  background-color: #ececec;
}

.heart {
  position: relative;
  filter: invert(91%) sepia(12%) saturate(39%) hue-rotate(314deg)
    brightness(83%) contrast(81%);
  max-width: 2em;
  margin-left: 16em;
  margin-top: 0.1em;
  margin-bottom: -8em;
}

.heart2 {
  position: relative;
  filter: invert(18%) sepia(5%) saturate(0%) hue-rotate(227deg) brightness(91%)
    contrast(89%);
  max-width: 2.6em;
  margin-left: 15.7em;
  margin-top: 0.1em;
  margin-bottom: -8.3em;
}
@media all and (max-width: 1480x) {
}

@media all and (max-width: 800px) {
  .grid {
    display: grid;
    align-items: center;
    column-gap: 3em;
    grid-template-areas:
      "one two"
      "three four"
      "five six";
  }
  .Layout {
    max-width: 70.125rem;
  }
  .topicon {
    flex: 1 1 1;
    padding-left: 1rem;
    max-width: 20vh;
    max-width: 35%;
    max-height: auto;
  }
  nav a {
    min-width: 120px;
    font-size: 1rem;
  }
  body {
    min-width: 71em;
    margin-left: 0.8em;
  }
  .border {
    padding: 7px;
    margin-left: 30px;
    margin-right: 30x;
    background: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 3px;
  }
  .products {
    max-width: 70.125rem;
    justify-content: center;
  }
  .jackets {
    max-width: 70%;
    margin-bottom: -1.5em;
    margin-top: 1em;
    border: 3px solid #fff;
  }
  .pro {
    max-width: 48%;
    margin-left: 3.3em;
    margin-right: -2.3em;
  }
  .product-button {
    margin-left: 3em;
  }
  .gold {
    padding-left: 6em;
  }

  .pro p {
    padding-left: 5em;
  }
  .heart {
    max-width: 2.5em;
    margin-left: 4em;
    padding-left: 14.5em;
    padding-bottom: 3em;
  }

  .heart2 {
    max-width: 3.1em;
    margin-left: 4em;
    padding-left: 14.2em;
    padding-bottom: 2.7em;
  }
  .top-footer,
  .footer-bot {
    min-width: 65.5em;
  }

  .shop {
    grid-template-columns: 1fr !important;
  }
}

@media all and (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
  }
  hr {
    display: none;
  }
  .toplogo {
    display: none;
  }
  .carousel,
  .topicon {
    display: none;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  nav a {
    flex: 1;
    color: #495773;
    border: 3px solid #495773;
    text-decoration: none;
    padding: 10px;
    min-width: 16em;
    margin: 25px;
    align-self: center;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  nav a:hover {
    text-decoration: none;
    background-color: #ececec;
  }

  .Layoutnav i {
    size: 2em;
  }

  body {
    min-width: 34em;
    margin-left: 1.5em;
    padding-right: -4em;
    margin-right: 0em;
  }
  .footer-left,
  .footer-right,
  .top-footer-right,
  .top-footer-left {
    display: none;
  }
  form input {
    width: 15em;
  }
  form button {
    width: 8em;
  }
  .aifooter {
    margin-right: 2em;
    margin-left: -1.2em;
  }
  .products {
    max-width: 28.4em;
    justify-content: center;
    flex-direction: column;
  }
  .jackets {
    margin-left: -2.5em;
    max-width: 100%;
    margin-bottom: -1.5em;
    margin-top: 1em;
    border: 3px solid #fff;
  }
  .pro {
    max-width: 100%;
    margin-right: -4.3em;
    padding-right: 3em;
  }
  .product-button {
    background-color: #fff;
    margin-left: 10em;
    margin-top: -2em;
    color: #495773;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 10px;
    display: inline-block;
    min-width: 2.5em;
    font-size: 1.1em;
    box-shadow: 1px 1px 5px #707070;
    border-radius: 3px;
    font-variant-caps: all-petite-caps;
  }
  .gold,
  .pro p {
    padding-left: 0.1em;
  }
  .top-footer,
  .footer-bot {
    min-width: 29.8em;
  }
}

/* -----------------------------footer----------------------------------------------- */
.top-footer {
  background-color: #9bb9bf;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  min-height: 16rem;
  align-items: center;
  margin-right: 1.4em;
  margin-left: 1.4em;
}
.top-footer-left {
  flex: 1;
  flex-direction: column;
  text-align: center;
}
.top-footer-left img {
  max-width: 20vh;
  max-width: 35%;
  max-height: auto;
  text-align: center;
}
.top-footer-center {
  flex: 1.5;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4rem;
}
h4 {
  color: #000;
  font-weight: bold;
}
form input {
  background-color: #fff;
  border: none;
  height: 2.5rem;
  width: 22em;
  padding-inline-start: 1rem;
  font-size: 0.7rem;
  color: #000;
  margin-right: -0.4rem;
}
form button {
  background-color: #495773;
  border: none;
  height: 2.7rem;
  width: 10em;
  color: #fff;
  font-weight: bold;
}
.top-footer-right {
  flex: 1;
  flex-direction: column;
  text-align: center;
  padding-right: 6rem;
  color: #fff;
  line-height: 0.3rem;
  font-size: 0.8rem;
}
.top-footer-right h4 a:hover {
  color: #495773;
}
.top-footer-right h4 a {
  color: #fff;
  line-height: 0.5rem;
  font-size: 1.2rem;
  text-decoration: underline;
}

footer {
  display: flex;
  background-color: #495773;
  padding: 1rem;
  min-height: 12rem;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem;
  margin-right: 1.4em;
  margin-left: 1.4em;
}

.footer-left {
  flex: 1;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
}
.footer-center {
  flex: 1;
  flex-direction: column;
  text-align: center;
}
.footer-center a {
  text-decoration: none;
  color: #fff;
  margin-right: 1.7rem;
  font-size: 0.9rem;
}
.footer-center a:hover {
  text-decoration: underline;
}
.footer-right {
  flex: 1;
  flex-direction: column;
  text-align: center;
}
.footer-right img {
  margin: 0rem 1em;
}
.footerimg {
  width: 5em;
  height: auto;
  display: inline-block;
}

.cart-items {
  display: flex;
  background-color: #ffffff;
  border-style: solid;
  border-color: #495773;
  border-radius: 5px;
  padding: 1.5em;
  flex-wrap: wrap;
  border-width: 2px;
}
.cart-item {
  border-style: solid;
  border-color: #495773;
  padding: 1.5em;
  margin: 2px;
  border-radius: 5px;
  border-width: 2px;
}
.cart-items h2 {
  font-size: 18px;
  padding-bottom: 15px;
}
.yourcart {
  display: flex;
  justify-content: center;
}
.cart-items p {
  display: flex;
  justify-content: center;
  align-items: center;
}
#formContact .error {
  display: none;
}

.containertwo {
  display: flex;
  justify-content: center;
}

.containertwo input {
  border: black;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
}
.account {
  padding-right: 6px;
}
.CVV {
  padding-right: 106px;
}

.button-back {
  display: flex;
  justify-content: center;
}
