body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #495773;
}
.container {
  display: flex;
  max-width: 1759px;
  margin: 0 auto;
}
.cropped {
  width: 1760px; /* width of container */
  height: 677px; /* height of container */
  overflow: hidden;
  object-fit: cover;
  object-position: 20% 50px;
}
.cropped img {
  margin: -10px 0px 0px -180px;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline;
}
nav a {
  color: #495773;
  border: 3px solid #495773;
  text-decoration: none;
  display: block;
  padding: 10px;
  min-width: 200px;
  margin: 25px;
  text-align: center;
  border-radius: 3px;
}
nav a:hover {
  text-decoration: underline;
}
header img {
  height: 107px;
  width: auto;
}
.centera {
  max-width: 1759px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 80px;
  /* background-color: lightblue; */
}

/* -----------------------------Carousel---------------------------------------------- */
.carousel {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.carousel .carousel-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 70%; /* Adjust this value to move the positioned div up and down */
  width: 50%; /* Set the width of the positioned div */
}
.carousel-text ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.carousel-text li {
  display: inline;
}
.carousel-text a {
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 10px;
  display: block;
  min-width: 200px;
  font-size: 20px;
  text-shadow: 2px 2px 8px #000;
  border-radius: 3px;
}
.border {
  padding: 7px;
  margin-left: 100px;
  margin-right: 100px;
  background: rgba(33, 33, 33, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 3px;
}
.carousel-text a:hover {
  background: rgba(255, 255, 255, 0.15);
}
.carousel .carousel-text-sale {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 30%; /* Adjust this value to move the positioned div up and down */
  font-size: 135px;
  color: #ffa800;
  width: 50%; /* Set the width of the positioned div */
  text-shadow: 2px 2px 8px #000;
}
.carousel .carousel-text-upto {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%; /* Adjust this value to move the positioned div up and down */
  font-size: 40px;
  color: #fff;
  width: 50%; /* Set the width of the positioned div */
  text-shadow: 2px 2px 8px #000;
}
/* -----------------------------Middle Grid------------------------------------------- */
/* new arrivals and the rest of grid */
.grid {
  display: inline-flex;
  flex: 1 1 533px;
  max-width: 1759px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid img {
  width: 533px; /* width of container */
  height: 533px; /* height of container */
  overflow: hidden;
  object-fit: cover;
  object-position: 25% 0px;
  margin-top: 80px;
  padding-top: -4px;
}
.picture {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.picture .picture-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 75%; /* Adjust this value to move the positioned div up and down */
  background: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  color: #0a3641;
  text-shadow: 2px 2px 8px #fff;
  width: 100%; /* Set the width of the positioned div */
}
.pay {
  max-width: 50px;
  height: auto;
}

/* -----------------------------footer----------------------------------------------- */
footer img {
  width: 100px; /* width of container */
  height: auto; /* height of container */
}
.top-footer {
  background-color: #9bb9bf;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.footer {
  background-color: #495773;
}
